<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Update Workouts</title>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <h1 class="display-name">Update Workout</h1>
    <div class="card mr-auto">
        <div class="card-body">
          <h5 class="card-title"> Update Workout</h5>
    <form action="/workoutxpress/workouts/<%= workouts.id %>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%= workouts.name %>"/><br/>
        <input type="date" name="date" value="<%= workouts.date %>"><br/>
        <input name="description" style="height: 100px;" value="<%= workouts.description %>"></input><br/>
        Upper Body: <input type="checkbox" name="upperBody" <% if (workouts.upperBody) { %>
                checked
                <% } %>
            /><br/>
        Lower Body: <input type="checkbox" name="lowerBody" 
        <% if (workouts.lowerBody) { %>
            checked
            <% } %>
        /><br/>
        Cardio: <input type="checkbox" name="cardio" 
        <% if (workouts.cardio) { %>
            checked
            <% } %>
        /><br/>
        Static: <input type="checkbox" name="static" 
        <% if (workouts.static) { %>
            checked
            <% } %>
        /><br/>
        Weight Training: <input type="checkbox" name="weightTraining" 
        <% if (workouts.weightTraining) { %>
            checked
            <% } %>
        /><br/>
        <input type="submit" class="btn btn-primary" value="Update Workout"/>
    </form>
    </div>
    </div>
</body>
</html>