<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Past Workouts</title>
</head>

<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
        <div>
        <h1 style="text-align: center; color: slategray; font-size: 600%; font-weight: bold;">Past Workouts</h1>
        <div class="card" style="width: 33rem;">
            <div class="card-header">
              Featured
            </div>
            <ul class="list-group list-group-flush">
                <% for (let i = 0; i < workouts.length; i++) { %>
              <li class="list-group-item">
                  <a href="/workoutxpress/workouts/<%=workouts[i].id %>"><%=workouts[i].name %></a><br />
                  <%=workouts[i].date %><br />
              </li>
              <% } %>
            </ul>
          </div>
        </div>   
</body>
</html>