<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Past Workouts</title>
</head>

<body>
    <nav>
       <%- include('./partials/nav.ejs') %>
    </nav>
    <div>
        <div>
            <h3>Past Workouts</h3>
            <ul>
                <% for (let i = 0; i < workouts.length; i++) { %>
                <li>
                    <a href="/workoutxpress/workouts/<%=workouts[i].id %>"><%=workouts[i].name %></a><br />
                    <%=workouts[i].date %><br />
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</body>

</html>