<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <div>
        <div>
            <h3><%=workouts.name %></h3>

            <p>Workout Date: <%=workouts.date %></p>
            <p><%=workouts.description %><br />
            Target Areas:<br /><% if(workouts.upperBody === true){ %>
            Upper Body<br />
            <% } %>
            <% if(workouts.lowerBody === true){ %>
            Lower Body<br />
            <% } %>
            <% if(workouts.cardio === true){ %>
            Cardio<br />
            <% } %>
            <% if(workouts.static === true){ %>
            Static<br />
            <% } %>
            <% if(workouts.weightTraining === true){ %>
            Weight Training
            <% } %>
        </p>
        </div>
        <a href="/workoutxpress/workouts/<%= workouts.id %>/edit"><button>Edit</button></a>
        <form action="/workoutxpress/workouts/<%= workouts.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Workout"/>
        </form>
    </div>
</body>
</html>